
body {
    min-height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    color: white;
}


.grid {
    width: 670px;
    height: 300px;
    border: 5px ridge black;
    position: relative; /* Change from absolute to relative */
    margin: 0 auto; /* Center the grid horizontally */
    background-color: rgba(82, 135, 168, 0.5);
}

.block, .bat {
    width: 100px;
    height: 20px;
    background-color: #0303AA;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 4px;
}

.block {
    box-shadow: inset 5px 5px 5px rgb(126, 179, 212),
        inset -5px -5px 5px rgb(39, 39, 39);
}

.bat {
    background-color: #AA0303;
    box-shadow: inset 5px 5px 5px rgb(221, 190, 190),
    inset -5px -5px 5px rgb(39, 39, 39);
}

.ball {
    width: 10px;
    height: 10px;
    background-color: #03AA03;
    position: absolute;
    border-radius: 5px;
    box-shadow: inset 2px 2px 1px rgb(19, 211, 12),
    inset -2px -2px 1px rgb(19, 109, 19);
}

#gameover {
    position: absolute;
    left: 20%;
}

.buttons {
    position: relative; /* Change from absolute to relative */
    margin: 0 auto; /* Center the grid horizontally */
}